<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/jqbtk-virtual-keyboard/jqbtk.min.css">
    <title>Wobble GIF Cam</title>
</head>
<body>
    <div class="container-fluid">
        <img style="width: 200px;" class="img-fluid img-thumbnail" src="/static/OUTPUT/captured_gifs/{{gif_file_name}}" />
        <input id="email" class="form-control form-control-lg keyboard" type="text" placeholder="Email">
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/store_info/{{gif_file_name}}/' + jQuery('#email').val();">Submit</button>
    </div>
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/jqbtk-virtual-keyboard/jqbtk.min.js"></script>
    <script>
        $('#email').keyboard();
    </script>
</body>
</html>
