<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Wobble GIF Cam</title>
</head>
<body>
    <div class="container-fluid">
        <div class="col-4 text-center">
            <button type="button" onclick="this.disabled=true; this.value='Making gif…'; window.location.href='/snap';" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-camera" aria-hidden="true" aria-label="Snap!"></span> Snap!
            </button>
        </div>
    </div>
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
